project/boot
target
*.bloop
.bsp
.ensime
.ensime_lucene
.ensime_cache
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.idea_modules
.metals
metals.sbt
.DS_Store
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
.vscode
# Auto-copied by sbt-microsites
docs/src/main/tut/contributing.md
